<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>user</title>
    <script type="text/javascript">
    function update(){
      formcantain
    }
    function successm(formid,savemode){

        f=document.getElementById(formid)

        data=new FormData(f)
        if(savemode=="tempsave"){
        data.append("savemode","tempsave")}
        if(savemode=="update"){
        data.append("savemode","update")}
        data.append("updatereflush","updatereflush")

        x=new XMLHttpRequest
        x.onreadystatechange=backalert
        x.open("POST","./",true)
        x.send(data)
        //监听进度
        x.upload.addEventListener("progress", uploadProgress(event), false);


    }
    function uploadProgress(event) {
    a=document.getElementById("formcantain");
    a.insertBefore(document.createTextNode("上传中"),a.childNodes[10]);
    }
    function backalert(){
         if(x.readyState==4){alert("上传完成")}
    }
    </script>
</head>
<body>


  用户名：{{ username }}</br>
  <hr style="border:1px dashed #000">
<form action="" method="POST">
  <input type="submit" name="back" formmethod="get" value="返回">
</form>
<form action="" method="post" id="formcantain">
  {% if readmodel == uploadpermi %}
  <input type="submit" name="tempsave"   value="暂存表单" onclick="successm('formcantain','tempsave')">
  <input type="submit" name="update"  value="上传表单" onclick="successm('formcantain','update')"></br>
  <hr style="border:1px dashed #000">
  <tr>
      <td>
        <input type="file" id="filebutton" name='chosefiles' multiple="multiple"  />
      </td>
  </tr>
  {% endif %}
  <hr style="border:1px dashed #000">
  <table >
    <tr>
      {% for eachfile in fileaddres %}
        <td><img src="{% static  eachfile %}" width="200px" height="200px"></td>
      {% endfor %}
    </tr>
    <tr>
      {% for eachfile in fileaddres %}
        <td><input name='filename' type='submit' value={{ eachfile}} onclick="display()"></td>
      {% endfor %}
    </tr>
  </table>
  <hr style="border:1px dashed #000">
  <table border="1" class="dataframe" style="border-collapse:collapse">
    <thead>
      <tr style="text-align: center;" >
        <th colspan="9" ><font size="20" >前期准备文件清单</font></th>
      </tr>
    <tbody>
      <tr>
        <td colspan="2">文件编号:</td>
        <td colspan="7"><textarea readonly name="formfilename" style="width:95%;height:100%;border-style:none">{{formfilename}}</textarea> </td>
      </tr>
      <tr>
        <td colspan="2">项目名称</td>
        <td><textarea name="projectname" style="width:95%;height:100%;border-style:none">{{formcantain.projectname}}</textarea></td>
        <td>产品型号</td>
        <td><textarea name="producttype" style="border-style:none">{{formcantain.producttype}}</textarea></td>
        <td>日期</td>
        <td><textarea name="data" style="border-style:none">{{formcantain.data}}</textarea></td>
        <td>版本</td>
        <td>A</td>
      </tr>
      <tr>
        <td colspan="2">项目成员</td>
        <td colspan="7"><textarea name="projectmember" style="width:95%;height:100%;border-style:none">{{formcantain.projectmember}}</textarea></td>
      </tr>
      <tr>
        <td>序号</td>
        <td>项目</td>
        <td>文件名称</td>
        <td colspan="2">状态</td>
        <td colspan="2">日期</td>
        <td>责任人</td>
        <td>备注</td>
      </tr>
      <tr>
        <td rowspan="7">1</td>
        <td rowspan="7">项目信息</td>
        <td>电气原理图</td>
        {% if formcantain.item11mark %}
          <td colspan="2"><input type="checkbox" name="item11mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item11mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item11date" style="width:100%;height:100%;border-style:none" value={{formcantain.item11date}}></td>
        <td><textarea name="person11" style="border-style:none">{{formcantain.person11}}</textarea></td>
        <td><textarea name="remarks11" style="border-style:none">{{formcantain.remarks11}}</textarea></td>
      </tr>
      <tr>
        <td>软件信息</td>
        {% if formcantain.item12mark %}
          <td colspan="2"><input type="checkbox" name="item12mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item12mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item12date" style="width:100%;height:100%;border-style:none" value={{formcantain.item12date}}></td>
        <td><textarea name="person12" style="border-style:none">{{formcantain.person12}}</textarea></td>
        <td><textarea name="remarks12" style="border-style:none">{{formcantain.remarks12}}</textarea></td>
      </tr>
      <tr>
        <td>硬件信息</td>
        {% if formcantain.item13mark %}
          <td colspan="2"><input type="checkbox" name="item13mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item13mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item13date" style="width:100%;height:100%;border-style:none" value={{formcantain.item12date}}></td>
        <td><textarea name="person13" style="border-style:none">{{formcantain.person13}}</textarea></td>
        <td><textarea name="remarks13" style="border-style:none">{{formcantain.remarks13}}</textarea></td>
      </tr>
      <tr>
        <td>技术协议、通讯协议</td>
        {% if formcantain.item14mark %}
          <td colspan="2"><input type="checkbox" name="item14mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item14mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item14date" style="width:100%;height:100%;border-style:none" value={{formcantain.item12date}}></td>
        <td><textarea name="person14" style="border-style:none">{{formcantain.person14}}</textarea></td>
        <td><textarea name="remarks14" style="border-style:none">{{formcantain.remarks14}}</textarea></td>
      </tr>
      <tr>
        <td>基础功能</td>
        {% if formcantain.item15mark %}
          <td colspan="2"><input type="checkbox" name="item15mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item15mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item15date" style="width:100%;height:100%;border-style:none" value={{formcantain.item12date}}></td>
        <td><textarea name="person15" style="border-style:none">{{formcantain.person15}}</textarea></td>
        <td><textarea name="remarks15" style="border-style:none">{{formcantain.remarks15}}</textarea></td>
      </tr>
      <tr>
        <td>新增功能</td>
        {% if formcantain.item16mark %}
          <td colspan="2"><input type="checkbox" name="item16mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item16mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item16date" style="width:100%;height:100%;border-style:none" value={{formcantain.item12date}}></td>
        <td><textarea name="person16" style="border-style:none">{{formcantain.person16}}</textarea></td>
        <td><textarea name="remarks16" style="border-style:none">{{formcantain.remarks16}}</textarea></td>
      </tr>
      <tr>
        <td>供货界面</td>
        {% if formcantain.item17mark1 %}
          <td ><input type="checkbox" name="item17mark1" checked="checked">直流侧</td>
        {% else %}
          <td ><input type="checkbox" name="item17mark1" >直流侧</td>
        {% endif %}
        {% if formcantain.item17mark2 %}
          <td ><input type="checkbox" name="item17mark2" checked="checked">交流侧</td>
        {% else %}
          <td ><input type="checkbox" name="item17mark2" >交流侧</td>
        {% endif %}
        <td colspan="2"><input type="date" name="item17date" style="width:100%;height:100%;border-style:none" value={{formcantain.item17date}}></td>
        <td><textarea name="person17" style="border-style:none">{{formcantain.person17}}</textarea></td>
        <td><textarea name="remarks17" style="border-style:none">{{formcantain.remarks17}}</textarea></td>
      </tr>
      <tr>
        <td rowspan="6">2</td>
        <td rowspan="6">设备工具</td>
        <td>笔记本（不加密）</td>
        {% if formcantain.item21mark %}
          <td colspan="2"><input type="checkbox" name="item21mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item21mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item21date" style="width:100%;height:100%;border-style:none" value={{formcantain.item21date}}></td>
        <td><textarea name="person21" style="border-style:none">{{formcantain.person21}}</textarea></td>
        <td><textarea name="remarks21" style="border-style:none">{{formcantain.remarks21}}</textarea></td>
      </tr>
      <tr>
        <td>PCAN</td>
        {% if formcantain.item22mark %}
          <td colspan="2"><input type="checkbox" name="item22mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item22mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item22date" style="width:100%;height:100%;border-style:none" value={{formcantain.item22date}}></td>
        <td><textarea name="person22" style="border-style:none">{{formcantain.person22}}</textarea></td>
        <td><textarea name="remarks22" style="border-style:none">{{formcantain.remarks22}}</textarea></td>
      </tr>
      <tr>
        <td>绝缘手套</td>
        {% if formcantain.item23mark %}
          <td colspan="2"><input type="checkbox" name="item23mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item23mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item23date" style="width:100%;height:100%;border-style:none" value={{formcantain.item23date}}></td>
        <td><textarea name="person23" style="border-style:none">{{formcantain.person23}}</textarea></td>
        <td><textarea name="remarks23" style="border-style:none">{{formcantain.remarks23}}</textarea></td>
      </tr>
      <tr>
        <td>调试用通讯线束</td>
        {% if formcantain.item24mark %}
          <td colspan="2"><input type="checkbox" name="item24mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item24mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item24date" style="width:100%;height:100%;border-style:none" value={{formcantain.item24date}}></td>
        <td><textarea name="person24" style="border-style:none">{{formcantain.person24}}</textarea></td>
        <td><textarea name="remarks24" style="border-style:none">{{formcantain.remarks24}}</textarea></td>
      </tr>
      <tr>
        <td>绝缘测试仪</td>
        {% if formcantain.item25mark %}
          <td colspan="2"><input type="checkbox" name="item25mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item25mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item25date" style="width:100%;height:100%;border-style:none" value={{formcantain.item25date}}></td>
        <td><textarea name="person25" style="border-style:none">{{formcantain.person25}}</textarea></td>
        <td><textarea name="remarks25" style="border-style:none">{{formcantain.remarks25}}</textarea></td>
      </tr>
      <tr>
        <td>便携式工具箱（包含绝缘电工胶带、</br>剥线钳、斜口钳、退针器）</td>
        {% if formcantain.item26mark %}
          <td colspan="2"><input type="checkbox" name="item26mark" checked="checked"></td>
        {% else %}
          <td colspan="2"><input type="checkbox" name="item26mark" ></td>
        {% endif %}
        <td colspan="2"><input type="date" name="item26date" style="width:100%;height:100%;border-style:none" value={{formcantain.item26date}}></td>
        <td><textarea name="person26" style="border-style:none">{{formcantain.person26}}</textarea></td>
        <td><textarea name="remarks26" style="border-style:none">{{formcantain.remarks26}}</textarea></td>
      </tr>
      <tr>
        <td colspan="9">
          <span>
            注：</br>
            1.在出发前往目标地点时必须完成项目信息收集工作；</br>
            2.根据项目实际情况确认所需携带的工具；</br>
            3.资料不全的情况下，原则上不允许开展调试工作。
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</form>
</body>
