<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
    <form action="" method="POST">
    用戶: <input type="text" name="username" value={{ refrash }}
            {% for each in refrash %}
           {{ each }}
            {% endfor %}
    ><br>
        密碼: <input type="text" name="usercode"><br>
        类型: <select style="width:100px;"  name="usertype"><option value="admin">admin</option><option value="user">user</option></select><br>
        <input type="submit" name='check' value="查找用户" >
        <input type="submit" name='add' value="添加用户" >
        <input type="submit" name='all' value="所有用户" >
        <input type="submit" name='usehistory' value="操作历史" >
        <input type="submit" name='checklisttemplate' value="模板列表" >
        <input type="submit" name='quit' value="退出" >
    </form>
    {#<textarea rows="10" cols="100">#}
        <table border="1">
        <tr>
        <td>userid</td><td>username</td><td>password</td><td>type</td>
        </tr>
        {% for each in list %}
            <tr>
            <td>{{ each.userid}}</td><td> {{ each.username}}</td><td>  {{ each.password}}</td><td> {{ each.type}}</td>
            </tr>
        {% endfor %}

        </table>
    {#</textarea>#}

</body>
</html>
