<!DOCTYPE html>
<html lang="en">
<head>
 
    {% load static %}
    <meta charset="UTF-8">
    <title>简历</title>
	<style>
	body{background-image:url("{% static 'static/ocean.jpg' %}");background-position-x:center}
	</style>
</head>
<body>
    
    <h1 style="text-align:center;font-family:DFKai-SB">简历</h1>
	<div  style="text-align:left;margin:100px;font-size:20px;font-family:DFKai-SB">
	<table>
	<tr>
	<td style="width:80%">
	<h2 >黎启华</h2>
	<p>男 31岁 2013年毕业于华南农业大学-数学与应用数学</p>
	<p>手机号码：15920520381</p><p>邮箱地址：1217437247@qq.com</p>
	</td>
	<td>
	<img style="text-align:right;width:147px;height:206px" src="{% static 'static/photo.jpg' %}"></img>
	</td></tr>
	</table>
	<hr style="border:1px dashed"/>
	<h2>个人兴趣特长</h2>
		<p>熟练掌握SAS，C#，Python，SQL等程式设计语言；</p>
		<p>掌握专业数理统计思维，logistics评分模型，时间序列模型，神经网路演算法，使用者推荐方法，adaboost等分类方法，离散傅裡叶演算法技巧;</p>
		<p>专案实践经验：Opencv+TensorFlow车牌影像处理,Django云平台简易搭建,电池系统物理模型资料分析等。</p>
		<p>未来计划：结合工业物理知识及大数据的数字孪生体系搭建工业科技领域的业务知识体系。</p>
	<hr style="border:1px dashed"/>
	<h2>工作经历</h2>
	<h3>广东越华能源有限公司（2013-9~2016-7）&nbsp;&nbsp;&nbsp;部门：期货部</h3>
		<p>1，负责在各相关网站如CFTC,fred等收集各种大宗商品的生产，价格资料变动的资料，包括对农产品的气候产量价格，金属价格产量等资料资讯，熟悉大部分商品的基本面 ；</p>
		<p>2，使用MATLAB sas等软体对收集资料或者价格进行分析，如线性回归，时间序列分析，从而对商品价格做出预测并回馈实际效果；</p>
		<p>3，对所得到的分析结果进行模拟交易，做过糖的跨期套利、铜的布林通道交易；</p>
		<p>4，另业馀，进行宏观经济的分析，结合基本面和技术面进行外汇的实盘小额交易。</p>
	<h3>中腾信金融服务（深圳）有 限公司（2016-9~2017-9）&nbsp;&nbsp;&nbsp;部门：风险管理中心</h3>
		<p>1，维护产品策略代码，使用策略包对部门对贷款产品额度费率评级等的决议进行审批流程的代码调整，经过测试后上线只生产系统，并对审批流程进行监控、及时调整；</p>
		<p>2，在策略调整期间负责对sas代码的编写，从资料库取出客户历史资料，用预调整的sas程式进行会跑，并统计测算结果与预测的差异，为决策提供支援；</p>
		<p>3，尝试使用数理统计的方法对贷款客户特徵做挖掘分析，使用方差检验，T检验，分析变数的关係，使用logistics进行初步评级划分。</p>
	<h3>深圳市大辰科技有限公司（2018-1~2018-4）&nbsp;&nbsp;&nbsp;部门：大数据组</h3>
		<p>参与推荐系统的设计，使用pyspark</p>
	<h3>惠州市富盈置业有限公司（港惠新天地）（2018-6~2020-12）&nbsp;&nbsp;&nbsp;部门：IT部</h3>
		<p>1，使用C#、SAS等程式设计工具做资料处理，补充一般系统的报表完整度（资料关联处理，表单程式设计）；</p>
		<p>2，使用清洗的资料，分析及报告商场销售情况（月报PPT，商场活动报告等，完善一般报表体系），挖掘会员销售的变化规律及价值，尝试使用一般分类模型建立适用于挖掘会员销售价值的分析方法（VIP等级分类，返店回归分析，销售预测，会员销售行为划分分析，基于销售行为建立新的会员体系，。。等）；</p>
		<p>3，关联统计 CRM，ERP，车场等多系统之间的业务资料，分析异常点（无效益销售等）；</p>
		<p>4，使用c#编写微信范本消息发送系统。</p>
	<h3>惠州亿纬锂能股份有限公司（2020-12~至今）&nbsp;&nbsp;&nbsp;部门：亿纬星笙->亿纬动力储能技术中心</h3>
		<p>1，使用Python资料处理工具，分析储能系统后台电量电芯等历史资料，挖掘电池系统运行主要故障原因，制作周月报表，支援储能系统的运维优化措施（手动，自动均衡方式）。尝试结合电池组模型，更好预测系统运行状态；</p>
		<p>2，使用Python工具进行电池包测试数据清洗，pybamm进行电池模拟，django搭建系统外出点检简易系统。</p>
		<p>3，使用C#开发储能云平台后端。</p>
    </div>
	
</body>
</html>
