<!DOCTYPE html>
<html lang="en">
<head>
 
    {% load static %}
    <meta charset="UTF-8">
    <title>簡歷</title>
	<style>
	body{background-image:url("{% static 'static/ocean.jpg' %}");background-position-x:center}
	</style>
</head>
<body>
    
    <h1 style="text-align:center;font-family:DFKai-SB">簡歷</h1>
	<div  style="text-align:left;margin:100px;font-size:20px;font-family:DFKai-SB">
	<table>
	<tr>
	<td style="width:80%">
	<h2 >黎啟華</h2>
	<p>男 31歲 2013年畢業於華南農業大學-數學與應用數學</p>
	<p>手機號碼：15920520381</p><p>郵箱地址：1217437247@qq.com</p>
	</td>
	<td>
	<img style="text-align:right;width:147px;height:206px" src="{% static 'static/photo.jpg' %}"></img>
	</td></tr>
	</table>
	<hr style="border:1px dashed"/>
	<h2>個人興趣特長</h2>
		<p>熟練掌握SAS，C#，Python，SQL等程式設計語言；</p>
		<p>掌握專業數理統計思維，logistics評分模型，時間序列模型，神經網路演算法，使用者推薦方法，adaboost等分類方法，離散傅裡葉演算法技巧;</p>
		<p>專案實踐經驗：Opencv+TensorFlow車牌影像處理,Django雲平臺簡易搭建,電池系統物理模型資料分析等。</p>
		<p>未來計劃：結合工業物理知識及大數據的數字孿生體系搭建工業科技領域的業務知識體系。</p>
	<hr style="border:1px dashed"/>
	<h2>工作經歷</h2>
	<h3>廣東越華能源有限公司（2013-9~2016-7）&nbsp;&nbsp;&nbsp;部門：期貨部</h3>
		<p>1，負責在各相關網站如CFTC,fred等收集各種大宗商品的生產，價格資料變動的資料，包括對農產品的氣候產量價格，金屬價格產量等資料資訊，熟悉大部分商品的基本面 ；</p>
		<p>2，使用MATLAB sas等軟體對收集資料或者價格進行分析，如線性回歸，時間序列分析，從而對商品價格做出預測並回饋實際效果；</p>
		<p>3，對所得到的分析結果進行模擬交易，做過糖的跨期套利、銅的布林通道交易；</p>
		<p>4，另業餘，進行宏觀經濟的分析，結合基本面和技術面進行外匯的實盤小額交易。</p>
	<h3>中騰信金融服務（深圳）有 限公司（2016-9~2017-9）&nbsp;&nbsp;&nbsp;部門：風險管理中心</h3>
		<p>1，維護產品策略代碼，使用策略包對部門對貸款產品額度費率評級等的決議進行審批流程的代碼調整，經過測試後上線只生產系統，並對審批流程進行監控、及時調整；</p>
		<p>2，在策略調整期間負責對sas代碼的編寫，從資料庫取出客戶歷史資料，用預調整的sas程式進行會跑，並統計測算結果與預測的差異，為決策提供支援；</p>
		<p>3，嘗試使用數理統計的方法對貸款客戶特徵做挖掘分析，使用方差檢驗，T檢驗，分析變數的關係，使用logistics進行初步評級劃分。</p>
	<h3>深圳市大辰科技有限公司（2018-1~2018-4）&nbsp;&nbsp;&nbsp;部門：大數據組</h3>
		<p>參與推薦系統的設計，使用pyspark</p>
	<h3>惠州市富盈置業有限公司（港惠新天地）（2018-6~2020-12）&nbsp;&nbsp;&nbsp;部門：IT部</h3>
		<p>1，使用C#、SAS等程式設計工具做資料處理，補充一般系統的報表完整度（資料關聯處理，表單程式設計）；</p>
		<p>2，使用清洗的資料，分析及報告商場銷售情況（月報PPT，商場活動報告等，完善一般報表體系），挖掘會員銷售的變化規律及價值，嘗試使用一般分類模型建立適用于挖掘會員銷售價值的分析方法（VIP等級分類，返店回歸分析，銷售預測，會員銷售行為劃分分析，基於銷售行為建立新的會員體系，。。等）；</p>
		<p>3，關聯統計 CRM，ERP，車場等多系統之間的業務資料，分析異常點（無效益銷售等）；</p>
		<p>4，使用c#編寫微信範本消息發送系統。</p>
	<h3>惠州億緯鋰能股份有限公司（2020-12~至今）&nbsp;&nbsp;&nbsp;部門：億緯星笙->億緯動力儲能產品中心</h3>
		<p>1，使用Python資料處理工具，分析儲能系統後臺電量電芯等歷史資料，挖掘電池系統運行主要故障原因，製作周月報表，支援儲能系統的運維優化措施（手動，自動均衡方式）。嘗試結合電池組模型，更好預測系統運行狀態；</p>
		<p>2，使用Python工具進行電池包測試數據清洗，pybamm進行電池模擬，django搭建系統外出點檢簡易系統。</p>
    </div>
	
</body>
</html>
