<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
用户名：{{ username }}
<form action="" method="POST">
  <input type="submit" name="back" formmethod="get" value="返回">
</form>
<hr style="border:1px dashed #000">
<h1>Result History</h1>

<form action="" method="post" id="formcantain">

    <tr>
        <td  >文件编号:</td>
        <td  ><textarea readonly name="formfilename" style="width:95%;height:100%;border-style:none">{{formfilename}}</textarea> </td>
        <td>项目名称</td>
        <td><textarea name="projectname" style="width:95%;height:100%;border-style:none">{{formcantain.projectname}}</textarea></td>
    </tr>
    <hr style="border:1px dashed #000">

    <table id="decode">
        {% for i in formcantain.codelist %}
        <tr><td>{{i.0}}</td><td>{{i.1}}</td></tr>
        {% endfor %}
    </table>
</form>


<script  >
      
const scanner=new Html5Qrcode("qrc")
const video = document.getElementById('qr-video');
const camList = document.getElementById('cam-list');
const camQrResult = document.getElementById('cam-qr-result');
const fileSelector = document.getElementById('tfile');
const fileQrResult = document.getElementById('file-qr-result');
const mytable = document.getElementById('decode');
var cameraid=1;

// ####### Form Add #######
function successm(formid,savemode){

        f=document.getElementById(formid)
        var codelist=getTableContent(document.getElementById("decode"))

        var data=new FormData(f)
        if(savemode=="tempsave"){
        data.append("savemode","tempsave")}
        if(savemode=="update"){
        data.append("savemode","update")}
        data.append("updatereflush","updatereflush")
        data.append("codelist",JSON.stringify(codelist))

        x=new XMLHttpRequest
        x.onreadystatechange=backalert
        x.open("POST","./",true)
        x.send(data)
        //监听进度
        x.upload.addEventListener("progress", uploadProgress(event), false);


    }
    function uploadProgress(event) {
    a=document.getElementById("formcantain");
    a.insertBefore(document.createTextNode("上传中"),a.childNodes[10]);
    }
    function backalert(){
         if(x.readyState==4){alert("上传完成")}
    }
// ####### Scan History #######
function judfe(id,res){
var data = getTableContent(id)
var index = -1;
for (var j = 0; j < data.length; ++j) {
    if (data[j][1] == res) {
           index = j;
     }
 }
if (index == -1) {
         data.push([data.length+1,res]);
         inserr(id,res)
    } 
}

function inserr(mytable,res){ 
    g=mytable.insertRow();
    p=g.insertCell();
    p.innerHTML=mytable.rows.length;
    p=g.insertCell();
    p.innerHTML=res; 
}

function getTableContent(mytable){ 
  var data = [];
  for(var i=0,rows=mytable.rows.length; i<rows; i++){
    for(var j=0,cells=mytable.rows[i].cells.length; j<cells; j++){
      if(!data[i]){
        data[i] = new Array();
      }
      data[i][j] = mytable.rows[i].cells[j].innerHTML;
    }
  }
  return data;
}



function setResult(label, result) {
    console.log(result);  
    label.textContent = result; 
    label.style.color = 'teal'; 
    label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);
}
// ####### Scan Function #######

function start(){
    scanner.start(
        cameraid,
        {
            fps:10,
            qrbox:250
        },
        qrCodeMessage=>{
            setResult(camQrResult, qrCodeMessage);
            judfe(mytable,qrCodeMessage);
            },
        errorMessage=>{

            console.log('QR Code no longer in front of camera.');
            }
    )
    .catch(
        err=>{
             setResult(camQrResult, 'Unable to start scanning,error:${err}');
            console.log('Unable to start scanning,error:${err}');
        }
    );
}

// ####### Web Cam Scanning #######

Html5Qrcode.getCameras().then(devices=>{devices.forEach(
        
        device => {
        const option = document.createElement('option');
        option.value = device.id;
        option.text = device.label;
        camList.add(option);
    });cameraid = devices[0].id;}
).catch(err=>{
        camQrResult.textContent = err;
        camQrResult.style.color = 'inherit';
});
        
camList.addEventListener('change', event => {
    cameraid=event.target.value;
    scanner.stop();
    start();
}); 

        
document.getElementById('start-button').addEventListener('click', () => {
    start()
});
document.getElementById('stop-button').addEventListener('click', () => {
    scanner.stop();
});


// ####### File Scanning #######
fileSelector.addEventListener('change', event => {
    const file = fileSelector.files[0];
    if (!file) {
        return;
    }
    const imagef=event.target.files[0];
    scanner.scanFile(imagef,true)
    .then(result=>{setResult(fileQrResult, result)})
    .catch(e=>setResult(fileQrResult, { data: e || 'No QR code found.' }));
});
</script  >
</body>
