<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>use</title>
</head>
<body>
    <form action="" method="POST">
    开始时间: <input type="date" name="btime" />
    结束时间: <input type="date" name="etime" />
    <input type="submit" name='serch' value="serch" >
    </form>
    <table border="1">
        {{ btime }}    {{ etime }}
        <tr>
        <td>日期</td><td>微信注册</td><td>实体卡绑定</td><td>合计</td>
        </tr>
        {% for each in list %}
            <tr>
        <td>{{ each.0}}</td><td>{{ each.1}}</td><td>{{ each.2}}</td><td>{{ each.3}}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>