<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <script type="text/javascript">
    function gettemplteform(){
        a=event.srcElement.parentElement
        a.submit()
    }
    function successm(formid,tableid){

        f=document.getElementById(formid)


        var a=document.getElementById(tableid);
        rowslen=a.rows.length-3;
        l=[];
        for (var i=0;i<rowslen;i++)
        {
            temp={};
            temp.itemm=a.rows[i+1].cells[0].childNodes[0].textContent;
            temp.statuss=a.rows[i+1].cells[1].childNodes[0].checked;
            l.push(temp)
            console.log(temp)
        }

        data=new FormData(f)
        data.append("updata","updata")
        m=JSON.stringify(l);
        data.append("formcantain",m);

        x=new XMLHttpRequest
        x.onreadystatechange=backalert
        x.open("POST","./",true)
        x.send(data)
    }
    function backalert(){
         if(x.readyState==4){alert("添加成功")}
    }

    </script>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data" id="formb">
        选择模板: <select style="width:100px;"  name="templteselect" onchange="gettemplteform()">
                    {% for i in  namelist %}
                    {% if i.0 == selectnow %}
                    <option value={{i.0}} selected="selected" >{{i.0}}</option>
                    {% else %}
                    <option value={{i.0}} >{{i.0}}</option>
                    {% endif %}
                    {% endfor %}
                </select><br>

        <input type="submit" name='myform' value="查看表单" >
        <input type="submit" name='usehistory' value="使用记录" >


        <table border="1"  id="tableb">
            <tr>
                <td>项目</td><td>状态</td>
            </tr>
            {% for i in testloop %}
            <tr><td>{{i.cola}}</td><td><input type="checkbox" name="checkbox{{i.colb}}" ></td></tr>
            {% endfor %}
            <tr>
                <td>
                    <input type="file" name='chosefiles' multiple="multiple"  >
                </td>
            </tr>
            {% for eachfile in result%}
            <tr>
                <td>{{ eachfile.name}}</td><td>{{ eachfile.size}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
<input type="submit" name='updata' value="上传表单" onclick="successm('formb','tableb')">
</body>
</html>
